// @todo refactor these out of html
.center {
  text-align: center;
  margin: 0 auto;
}

// @todo refactor these out of html
.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

#body-container {
  min-height: calc(100vh - 110px - )
}