
// --- Reset --- //

@import '_reset';

// --- Typography --- //

body {
  color: #111;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2em;
  line-height: 147%;
}

h1 {}

h2 {}

h3 {}

p {
  margin: 0;
}

a {
  color: #00B7FF;
}

// --- Layout --- //

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
  margin-bottom: 60px;
}

.container {
  margin: 0 20px;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}


// --- Components --- //

@import 'forms/_forms';

// --- Pages overrides --- //

@import 'pages/_exception';

