// --- Variables --- //
$red-button: #c81c1c;

// --- Reset --- //

@import "_reset";

// --- Typography --- //

body {
  color: #111;
  font-family: "PT Sans", sans-serif;
  font-size: 2em;
  line-height: 147%;
  background-color: black;
}

h1 {
  font-size: 2em;
  text-align: center;
  color: white;
}

// h2 {
// }

h3 {
  color: white;
}

p {
  margin: 0;
}

a {
  color: #00b7ff;
}

.hidden {
  display: none;
}

.hidden-bun {
  display: none;
}

.burguer-icon {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.burguer-icon:hover {
  cursor: pointer;
}

.top-burguer,
.middle-burguer,
.bottom-burguer {
  transition: all 0.5s ease;
  height: 5px;
  width: 40px;
  background-color: whitesmoke;
  margin-bottom: 4px;
  border-radius: 4px;
}

.rotate-top {
  transition: all 0.5s ease;
  transform: rotate(45deg);
}

.rotate-bottom {
  margin-top: -9px;
  transition: all 0.5s ease;
  transform: rotate(-45deg);
}

.nav-container {
  margin: 0 auto;
  background-color: $red-button;
  padding: 20px;
  min-height: 70px;
}

.menu-list {
  background-color: blue;
  color: whitesmoke;
  position: absolute;
  top: 80px;
  border-radius: 10px;
}

.menu-hidden {
  display: none;
  transition: all 0.5s ease;
}

li {
  list-style: none;
  margin-bottom: 5px;
  padding-right: 20px;
}

li:hover {
  color: lightblue;
}

li:hover {
  animation-fill-mode: forwards;
  position: relative;
  animation: slide 1s;
}

@keyframes slide {
  0% {
    left: 0px;
  }

  100% {
    left: 8px;
  }
}

li:hover {
  cursor: pointer;
}

.slide-menu {
  animation: forwards 2s ease;
  position: relative;
}

@keyframes forwards {
  0% {
    top: 0px;
  }

  100% {
    top: 100px;
  }
}

.container {
  margin: 0 20px;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.left-align {
  text-align: left;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

// --- Components --- //

@import "components/_forms";
@import "components/_cards";

// --- Pages overrides --- //

@import "pages/_exception";
@import "pages/_homepage";
@import "pages/_authpage";
