// --- Variables --- //
$red-button: #c81c1c;

// --- Reset --- //

@import "_reset";

// --- Typography --- //

body {
  color: #111;
  font-family: "PT Sans", sans-serif;
  font-size: 2em;
  line-height: 147%;
  background-color: black;
}

h1 {
  font-size: 2em;
  text-align: center;
  color: white;
  padding-top: 20px;
  margin-bottom: 20px;
}

// h2 {
// }

h3 {
  color: white;
}

p {
  margin: 0;
}

.hidden {
  display: none !important;
}

.container {
  margin: 0 20px;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.left-align {
  text-align: left;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

// --- Components --- //

@import "components/_forms";
@import "components/_cards";
@import "components/_burguer-menu";
@import "components/_desktop-menu";

// --- Pages overrides --- //

@import "pages/_exception";
@import "pages/_homepage";
@import "pages/_authpage";
