<footer>
  <div id="social-icons">
    <i class="far fa-envelope"></i>
    <i class="fab fa-facebook"></i>
    <i class="fab fa-twitter-square"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-linkedin-in"></i>
  </div>

  <div class="creators">
    <p id="IH">© Copyright Will and Javi 2018</p>
  </div>


</footer>