<footer>

  <div class="creators">
    <p id="IH">Created by Will and Javi</p>
    <p id="contact">Contact:
      <a href="mailto:gigxapp@gmail.com">
        gigxapp@gmail.com</a>
    </p>
  </div>
</footer>