<nav>
  <div class="nav-container">
    <div id="navbar-logo">
      <a href="/">
        <img src="/images/logo.png" alt="GIGX">
      </a>
    </div>
    <div id="navbar-links">
      <form id="search-bar" action="/listings/search" method="POST">
        <input type="search" placeholder="Search" name="search">
      </form>
      {{#unless currentUser}}
        <a href="/users/auth?mode=signup">Signup</a>
        <a href="/users/auth?mode=login">Login</a>
        {{else}}
          <a href="/listings">Explore</a>
          <a href="/listings/live">Live</a>
          <i class="fas fa-user-circle" id="profile-icon"></i>
          <div class="dropdown-menu not-shown">
            <ul>
              <li>
                <a href="/users/profile/stars">Favorites</a>
              </li>
              {{!--
          <li>
            <a href="">Profile</a>
          </li> --}}
              <li>
                <a href="/listings/add">Add listing</a>
              </li>
              <li>
                <a href="" id="logout-link">Log out</a>
              </li>
          </div>
          <form method='post' action='/users/auth/logout' id='logout-form' style="display:none"></form>
      {{/unless}}
    </div>
</nav>
<nav class="hidden">
  <div class="nav-container burguer">
    <div class="open-burguer">
      <div class="burguer-container">
        <div class="burguer-icon" id="complete-icon">
          <div class="top-burguer" id="top-bun"></div>
          <div class="middle-burguer" id="middle-bun"></div>
          <div class="bottom-burguer" id="bottom-bun"></div>
        </div>
      </div>
    </div>
  </div>
</nav>