<nav>
  <div class="nav-container">
    <div id="navbar-logo">
      <img src="/images/logo.png" alt="GIGX">
    </div>
    <div id="navbar-links">
      {{#unless currentUser}}
        <a href="/users/auth?mode=signup">Sign Up</a>
        <a href="/users/auth?mode=login">Login</a>
        {{else}}
          <a href="/listings">Explore</a>
          <a href="">Profile page</a>
          <a href="">Logout</a>
      {{/unless}}
    </div>
</nav>
<nav>
  <div class="nav-container burguer hidden">
    <div class="open-burguer">
      <div class="burguer-container">
        <div class="burguer-icon" id="complete-icon">
          <div class="top-burguer" id="top-bun"></div>
          <div class="middle-burguer" id="middle-bun"></div>
          <div class="bottom-burguer" id="bottom-bun"></div>
        </div>
      </div>
    </div>
  </div>
</nav>