<div class="page listings-add">
  <div class="center add">
    <section id="add-listing" class="listing-form center">
      <h1>Add a listing</h1>
      <form action="/listings/add" method="POST" enctype="multipart/form-data">
        <div class="form-item">
          <input type="text" name="title" id="title" placeholder="Concert Title *" required>
        </div>
        <div class="form-item">
          <input type="url" name="videoUrl" id="url" placeholder="Video URL *" required>
        </div>
        <div class="form-item">
          <label for="image-file">Image</label>
          <input type="file" name="imageFile" id="image-file" placeholder="Image File">
        </div>
        <div class="form-item">
          <input type="text" name="artist" id="artist" placeholder="Artist Name *" required>
        </div>
        <div class="form-item">
          <input type="number" name="year" id="year" placeholder="Year" maxlength="4" max="2018" min="1900">
        </div>
        <div class="form-item">
          <input type="number" name="duration" id="duration" placeholder="Duration (minutes)">
        </div>
        <div class="form-item">
          <input type="text" name="location" id="location" placeholder="Location">
        </div>
        <div class="form-item">
          <label for="genre">Genre *</label>
          <select name="genre" id="genre" required>
            <option value="Classical">Clasical</option>
            <option value="Blues">Blues</option>
            <option value="Rock">Rock</option>
            <option value="Pop">Pop</option>
            <option value="Hip-hop">Hip-hop</option>
            <option value="Reggae">Reggae</option>
            <option value="Jazz">Jazz</option>
            <option value="Country">Country</option>
            <option value="World">World</option>
            <option value="Electronic">Electronic</option>
            <option value="Metal">Metal</option>
            <option value="Indie">Indie</option>
            <option value="R&B">R&B</option>
            <option value="Latin">Latin</option>
          </select>
        </div>
        <div class="form-item">
          <label for="source">Source type *</label>
          <select for="source" id="source" required>
            <option value="Youtube">Youtube</option>
            <option value="HLS">HLS</option>
            <option value="RTMP">RTMP</option>
          </select>
        </div>
        <div class="form-item">
          <label for="live">Live?</label>
          <input type="checkbox" name="live" id="live">
        </div>
        <div class="form-item">
          <label for="dateTime">Date and time</label>
          <input type="datetime-local" name="dateTime" id="dateTime">
        </div>
        <div class="form-item">
          <button class="btn-form">Submit</button>
        </div>
      </form>
    </section>
  </div>
  {{#if messages}}
    <p>
      <ul class="exception">
        {{#each messages}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </p>
  {{/if}}
  </section>
</div>