<div class="home-background">
  <h1>GIGX</h1>
  <h3 class="center">Watch your favorite concerts</h3>

  {{#if currentUser}}
  <form action="users/auth/logout" method="POST" class="center">
    <button>Logout</button>
  </form>
  {{else}}
  <form action="users/auth" method="GET" class="center">
    <button>Signup</button>
  </form>
  {{/if}}
</div>