<div class="page home">
  <img src="/images/logo.png" id="home-logo">
  <h3 class="center">Watch your favorite concerts</h3>
  <form action="users/auth" method="GET" class="center">
    <button id="sign-up-button">Sign up</button>
  </form>
  <a href="#home-section">
    <i class="fas fa-angle-double-down"></i>
  </a>
</div>
<section class="box-section" id="home-section">
  <h1>What’s on Gigx?</h1>
  <hr>
  <div class="box-container">
    <div class="box">
      <img src="images/icon1.svg" alt="" height="100">
      <h2>Millions of Concerts</h2>
      <h4>There are millions of
        <br> concerts on Gigx</h4>
    </div>
    <div class="box">
      <img src="images/icon2.svg" alt="" height="100">
      <h2>Live Stream Concerts</h2>
      <h4>Watch live concerts
        <br> of your favorite artists</h4>
    </div>
    <div class="box">
      <img src="images/icon3.svg" alt="" height="100">
      <h2>Stream Live Everywhere</h2>
      <h4>Stream your own concert
        <br> on any device
        </p>
    </div>
  </div>
</section>