<div class="home-background">
  <img src="/images/logo.png" id="home-logo">
  <h3 class="center">Watch your favorite concerts</h3>
  {{#if currentUser}}
  <form action="users/auth/logout" method="POST" class="center">
    <button>Logout</button>
  </form>
  {{else}}
  <form action="users/auth" method="GET" class="center">
    <button>Signup</button>
  </form>
  {{/if}}
</div>

<section class="box-section">
  <h1>What’s on Gigx?</h1>
  <hr>

  <div class="boxes">
    <div class="box-one">
      <img src="images/icon1.png" alt="concert by Heiko Maiwand from the Noun Project" height="100">
      <h3>Millions of Concerts</h3>
      <p>There are millions of
        <br> concerts on Gigx</p>
    </div>

    <div class="box-two">
      <img src="images/icon2.png" alt="concert tickets by b farias from the Noun ProjectM" height="100">
      <h3>Live Stream Concerts</h3>
      <p>Watch live concerts
        <br> of your favorite artists</p>
    </div>

    <div class="box-three">
      <img src="images/icon3.png" alt="Mobile by Rafael Garcia Motta from the Noun Project" height="100">
      <h3>Stream Live Everywhere</h3>
      <p>Stream your own concert
        <br> on your smartphone,
        <br> tablet or computer
      </p>
    </div>
  </div>
</section>