<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <link href="/stylesheets/libs/video-js.min.css" rel="stylesheet">
  <title>{{title}}</title>
</head>

<body>
  <nav>
    <div class="nav-container">
      <div id="navbar-logo">
        <img src="/images/logo.png" alt="">
      </div>
      <div id="navbar-links">
        <a href="/users/auth?mode=signup">Sign Up</a>
        <a href="/users/auth?mode=login">Login</a>
        <a href="/listings">Explore</a>
        <a href="">Profile page</a>
        <a href="">Logout</a>
      </div>
  </nav>
  <nav>
    <div class="nav-container burguer hidden">
      <div class="open-burguer">
        <div class="burguer-container">
          <div class="burguer-icon" id="complete-icon">
            <div class="top-burguer" id="top-bun"></div>
            <div class="middle-burguer" id="middle-bun"></div>
            <div class="bottom-burguer" id="bottom-bun"></div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  {{{body}}}
  <script src="/javascripts/libs/video.min.js"></script>
  <script src="/javascripts/libs/video-js-youtube.min.js"></script>
  <script src="/javascripts/menu.js"></script>
</body>

</html>