.box-section {
  background-color: white;
  color: black;
  text-align: center;

  h3,
  h1 {
    color: #c81c1c;
  }

  hr {
    width: 30%;
    text-align: center;
    border: 2px solid black;
    margin-bottom: 20px;
  }

  .boxes {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
}
