.nav-container {
  margin: 0 auto;
  background-color: $red-button;
  padding: 10px;
  min-height: 70px;
  display: flex;
  justify-content: space-between;

  #navbar-logo {
    display: flex;
    align-items: center;
    img {
      width: 60px;
      height: 38px;
    }
  }

  #navbar-links {
    display: flex;

  }
}

nav a {
  text-decoration: none;
  color: white;
  padding: 0px 12px;
  font-size: 0.5em;
}
