.nav-container {
  margin: 0 auto;
  background-color: $primary;
  padding: 10px;
  min-height: 70px;
  display: flex;
  justify-content: space-between;

  #navbar-logo {
    display: flex;
    align-items: center;
    img {
      width: 60px;
      height: 38px;
    }
    a {
        border-bottom: 0px solid transparent;
    }
  }

  #navbar-links {
    display: flex;

    a {
      padding-top: 12px;
    }

    i {font-size: 1.5em;
      padding-top: 12px;
      padding-right: 12px;
    }
  
    form {
      padding: 0px;
    
      button {
        width: fit-content;
        padding: 0px;
      }
  
      input[type=search] {
        width: 10px;
        transition: all 0.3s;
        border-radius: 20px;
        margin-top: 3px;
        padding-left: 35px;
        padding-right: 7px;
        background: white url("/images/search-solid.svg") no-repeat 10px center;
        background-size: 18px;
        border: none;
        background-position-x: 13px;
  
        &:focus {
          width: 240px;
          outline: none;
        }
  
        &::placeholder {
          color: $secondary;
        }
      }
  
    }
  
  }
}

#profile-icon {
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 0px 12px;
  font-size: 1.2em;
}

.dropdown-menu {
  text-align: right;
  background-color: $secondary;
  position: absolute;
  top: 70px;
  right: 0px;
  padding: 20px;
  box-shadow: 0px 10px 25px black;
  transition: all 0.3s;
  visibility: visible;
  opacity: 1;
  z-index: 1;

  ul {
    list-style: none;
    li {
      margin-bottom: 10px;
    }
  }

  &.not-shown {
    visibility: hidden;
    opacity: 0;
  }


  
}