footer {
  background-color: $secondary;
  overflow: hidden;
  padding: 20px;

  #creators {
    padding: 20px;
  }
}

//   #IH {

//     padding: 10px;
//   }

//   #contact {
//     float: right;
//     padding: 10px;
//   }
// }
