footer {
  background-color: $secondary;
  overflow: hidden;
  padding: 20px;

  #social-icons {
    i {
      padding-right: 30px;
      padding-bottom: 10px;
    }

    #creators {
      padding: 20px;
    }
  }
}
