footer {
  background-color: $secondary;
  overflow: hidden;

  #creators {
    padding: 20px;
  }

  #IH {
    float: left;
    padding: 10px;
  }

  #contact {
    float: right;
    padding: 10px;
  }
}
