#signup,
#login,
.add {
  background-color: $light;
  padding: 20px 20px;
  margin-top: 70px;
  max-width: 380px;
  color: $secondary;

  li {
    font-size: 1em;
    list-style: none;
  }
}

form {
  width: 100%;
  padding: 20px 60px;

  label {
    font-size: 1em;
  }

  input[type="text"],
  input[type="url"],
  input[type="number"],
  input[type="datetime-local"],
  input[type="search"],
  input[type="email"],
  input[type="password"],
  input[type="file"] {
    font-size: 1em;
    width: 100%;
    height: 43px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 3px;
  }

  input[type="datetime-local"] {
    font-size: 0.8em;
  }

  .form-item {
    margin-top: 10px;
    text-align: left;
  }

}

    button {
      width: 100%;
      height: 50px;
      background-color: $primary;
      color: #ffffff;
      border-radius: 20px;
      border: none;
      font-size: 1em;
      margin-top: 20px;
      background-repeat: no-repeat;
      background-position: left;
      padding: 10px;
      transition: all 0.2s;
      letter-spacing: 1.5px;
  
      &:hover {
        background-color: #ffffff;
        color: $primary;
        border: solid 1px $primary;
      }
  
      &:focus {
        outline: none;
      }
    }

.star-button {
  font-size: 2em;
  width: 30px;
  background-color: transparent;
  text-shadow: 0px 0px 5px black;

  &:hover {
    background-color: transparent;
    border: none;
  }
}
