$form-background: #e3e3e3;

#signup,
#login {
  background-color: $form-background;
  padding-top: 20px;
  margin-top: 70px;

  li {
    font-size: 1em;
  }
}

form {
  width: 100%;
  padding: 20px 60px;

  label {
    font-size: 1em;
  }

  input {
    font-size: 1em;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    padding-bottom: 10px;
  }

  button {
    width: 200px;
    height: 50px;
    background-color: $primary;
    color: #ffffff;
    border-radius: 20px;
    border: none;
    font-size: 1em;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-position: left;
    padding: 10px;
    transition: all 0.2s;
    letter-spacing: 1.5px;
  }

  button:hover {
    background-color: #ffffff;
    color: $primary;
  }
}
