.auth-background {
  background-image: url("/images/yannis-papanastasopoulos-327476-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
