.page.home {
  @include background-layout("/images/home-768.jpg");
  @include flex-layout;

  @media (min-width: $tablet-screen) {
    @include background-layout("/images/home-1280.jpg");
  }

  i {
    padding-top: 50px;
    font-size: 2em;
    position: relative;
    animation: bounce 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    &:hover {
      border-bottom: 0px;
    }

    @keyframes bounce {
      0% {
        top: 10px;
      }
      50% {
        top: 0px;
      }
      100% {
        top: 10px;
      }
    }
  }
}

#arrow-home {
  margin-bottom: 0px;
}

#home-logo {
  max-width: 50vw;
}

#sign-up-button {
  max-width: 200px;
}

.chatbot-button {
  position: fixed;
  bottom: 30px;
  right: 20px;

  button {
    width: 100%;
    height: 40px;
    background-color: $primary;
    color: #ffffff;
    border-radius: 20px;
    border: none;
    font-size: 1em;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-position: left;
    padding: 10px;
    transition: all 0.2s;
    letter-spacing: 1.5px;
    text-align: center;
  }
}

.chatbot {
  position: fixed;
  bottom: 30px;
  right: 20px;
}
