<h1>Sign Up</h1>
<form action="/users/auth/signup" method="POST">
  <div>
    <label for="email">Email: </label>
    <input type="text" name="email" id="email">
  </div>
  <div>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password">
  </div>

  <div>
    <button>Sign up</button>
  </div>
</form>
{{!-- {{#if messages.length}}
<p>
  <ul>
    {{#each messages}}
    <li>{{this}}</li>
    {{/each}}

  </ul>
</p>
{{/if}} --}}